version: "2"

services:
  agony-engine:
    image: scionaltera/agony-engine:latest
    tty: true
    ports:
     - "8080:8080"
     - "5005:5005"
    links:
     - mysql
     - activemq
    env_file:
     - agonyengine.env
  mysql:
    image: mysql:5.6
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: agonyengine
      MYSQL_USER: agonyengine
      MYSQL_PASSWORD: agonyengine
      MYSQL_DATABASE: agonyengine
  activemq:
    image: webcenter/activemq:5.14.3
    ports:
     - "61613:61613"
     - "8161:8161"
    environment:
      # remove default accounts and require authentication, so the local copy acts the same as a production deploy
      ACTIVEMQ_ENABLED_AUTH: "true"
      ACTIVEMQ_REMOVE_DEFAULT_ACCOUNT: "true"

      # user with access to web UI
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin

      # user with access to broker
      ACTIVEMQ_OWNER_LOGIN: agonyengine
      ACTIVEMQ_OWNER_PASSWORD: agonyengine
